<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/cards.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>Flashcards</title>

  <style>

  </style>
</head>

<body>
  <div class="main">
    <div class="flashcard-container">
      <div class="ask-response">
        <input type="number" id="id" name="id" value="1" hidden>
        <h2 id="question" class="question">Loading question...</h2>
        <p id="response" class="response"></p>
      </div>
      <div class="buttons">
        <button id="translate" class="yellow" onclick="textToVoice()"><i class="fa-solid fa-headphones"></i></button>
        <button class="green" id="show-response"><i class="fa-regular fa-eye"></i></button><br>
        <button id="next-question" onclick="buscarPregunta()"><i class="fa-solid fa-forward"></i></button>
      </div>
    </div>
  </div>
  <script>
    const question = document.getElementById("question");
    const response = document.getElementById("response");
    const showResponse = document.getElementById("show-response");
    const id = document.getElementById("id");

    // Função para traduzir texto para voz
    function textToVoice() {
      try {
        const speech = new SpeechSynthesisUtterance();
        speech.text = question.textContent;
        speech.volume = 1;
        speech.rate = 1;
        speech.pitch = 1;

        let voices = window.speechSynthesis.getVoices();

        // Verificar se as vozes estão carregadas
        if (voices.length === 0) {
          // Caso as vozes não estejam carregadas, esperar o evento 'onvoiceschanged'
          window.speechSynthesis.onvoiceschanged = () => {
            voices = window.speechSynthesis.getVoices();
            // Selecionar voz em inglês, caso esteja disponível, senão usar a primeira voz
            speech.voice = voices.find(voice => voice.lang === 'en-US') || voices[0];
            window.speechSynthesis.speak(speech);
          };
        } else {
          // Selecionar a voz em inglês ou a primeira voz disponível
          speech.voice = voices.find(voice => voice.lang === 'en-US') || voices[0];
          window.speechSynthesis.speak(speech);
        }
      } catch (e) {
        alert('Erro ao tentar falar o texto: ' + e);
      }
    }

    showResponse.addEventListener("click", async () => {
      await fetch(`/api/search_response/${id.value}`).then(response => {
        if (response.ok) {
          return response.json();
        }
        throw new Error("Request failed!");
      }).then(data => {
        response.textContent = `R: ${data.answer}`;
      }).catch(error => {
        console.log(error);
      })
    });

    document.addEventListener("DOMContentLoaded", buscarPregunta);
    async function buscarPregunta() {
      await fetch(`/api/aleatory_card/`).then(response => {
        if (response.ok) {
          return response.json();
        }
        throw new Error("Request failed!");
      }).then(data => {
        response.textContent = " ";
        question.textContent = data.question;
        id.value = data.id;
      }).catch(error => {
        console.log(error);
      })
    }

  </script>
</body>

</html>
