.flashcard-container {
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  width: 90vw;
  align-items: center;
  margin: 0 auto;
}
.flashcard-container p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.question {
  font-size: 1.5em;
  margin-bottom: 10px;
}

button {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 22px;
}
.yellow{
  background-color: #d29e00;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  
}

.green {
  background-color: #4caf50;
}

.descricao {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.ask-response {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.ask-response p {
  font-size: 1rem;
  font-weight: 300;
}
